<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

    <head>
        <title><%= recipe.title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <!-- Title. -->
        <h2><%= recipe.title %></h2>

        <!-- Categories does not need to be visible in the instructions. -->
        <!-- Categories: <%= recipe.categories %> <br> -->

        <!-- Servings. -->
        Servings: <%= recipe.servings.quantity %> <%= recipe.servings.type %> <br>
        <br>

        <% if (image_suffix != "") { %>
            <div style="float: right;"><img src="RecipeImages/<%= recipe.title %>_M.<%= image_suffix %>"></div>
        <% } %>

        <!-- List of ingredient groups. -->
        <% recipe.ingredients.forEach(function(component) { %>
            <h4> <%= component.title %> </h4>
            <ul>
            <% component.content.forEach(function(ingredient) { %>
                <li> <%= ingredient.quantity %> <%= ingredient.type %> <%= ingredient.name %> </li>
            <% }); %>
            </ul>
        <% }); %>

        <% if (recipe.ovenTemp) { %>
            Ugn: <%= recipe.ovenTemp %> °C<br>
        <% } %>

        <!-- List of instruction groups. -->
        <% recipe.description.forEach(function(component) { %>
            <h4> <%= component.title %> </h4>
            <ul>
            <% component.content.forEach(function(line) { %>
                <!-- The replce regexp adds a newline after each '.' -->
                <!-- Done because a lof of recipes have a lot or really long lines -->
                <!-- with multiple sentences. -->
                <li> <%- line.replace(/\./g, '.<br>') %><br> </li>
            <% }); %>
            </ul>
        <% }) %>

        <br><br>

        <!-- Tips. -->
        <b>Tips:</b> <%= recipe.tips %>

        <br>
        <br>
        <a href="/editRecipe?recipe=<%= recipe.title %>">Edit</a>
    </body>
</html>
